body {
    background-color: #0A091B;
}

.title {
    display:flex;
    justify-content:center;
    align-items: center;
    color: #C0B85B;
    font-size: 50px;
}

.memory {
    width: 250px;
    border: 1px solid #C0B85B;
}
.juegos{
    width: 300px;
    border: 3px solid #C0B85B;
    display: flex;
    flex-direction:column;
    color: #C0B85B;
    align-items:center;
}